/*-- scss:defaults --*/

$sidebar-bg: #fdf6e3;
$navbar-bg: #fdf6e3;
$body-bg: #fdf6e3;
$body-color: #000;
$modal-content-bg: #fdf6e3;
$popover-bg: #fdf6e3;
$dropdown-bg: #fdf6e3;
$input-bg: #eee8d5;
$dropdown-link-hover-color:         rgba(255, 255, 255, .75) !default;
$dropdown-link-hover-bg:            #073642  !default;